body{
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img{
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    padding: 30px;
    padding-bottom: 40px;
}
button{
    padding: 5px;
    border-color: blue;
    background-color: lightblue;
    font-size: 50px;
    margin: auto;
}
#daftar{
    width: 35%;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    bottom: 35px;
}
#subdaftar{
    border: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px;
}
#subdaftaratas{
    padding-top: 10px;
    padding-bottom: 10px;
}
#subdaftarbawah{
    padding-top: 10px;
    padding-bottom: 10px;
}
#dftr{
    display: block;
    float: right;
    border: none;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}
input[type=text]{
    width: 100%;
	border: none;
	border-bottom: 1px solid black;
	padding: 2px 2px 2px 2px;
	background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
}
input[type=password]{
    width: 100%;
    border: none;
	border-bottom: 1px solid black;
	padding: 2px 2px 2px 2px;
	background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
}
.tmbl{
    padding-top: 7px;
    padding-bottom: 7px;
}
#login{

    text-align: center;
}
#login a{
    text-decoration: none;
}