.parent{
    margin-top: 120px;
    text-align: center;
}
.child1{
    background-color: rgb(247, 247, 247);
    width: 40%;
    padding: 20px;
    margin: auto;
    text-align: left;
    overflow: hidden;
    border-radius: 3px;
}
.child1 input[type=text]{
    width: 100%;
}
.child1 input[type=submit]{
    float: right;
    margin-top: 10px;
}
.ok{
    background-color: rgba(0, 255, 255, 0.692);
    width: 40%;
    height: auto;
    padding: 5px;
    margin: auto;
}
.error{
    background-color: rgba(255, 42, 42, 0.692);
    width: 40%;
    height: auto;
    padding: 5px;
    margin: auto;
}