body{
    background-image: url('../wp1.jpg');
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.conten{
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
}
.komen{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 57.3%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.isikomen{
    color:white;
    background-color: rgb(88, 88, 88);
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
}
.inputkomen input[type=text]{
    width: 30%;
    margin-top: 10px;
}
.inputkomen textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.inputkomen input[type=submit]{
    border: none;
    background-color: rgb(88, 88, 88);
    padding: 5px;
    font-size: 15px;
    width: 100px;
    border-radius: 4px;
}
.inputkomen input[type=submit]:hover{
    background-color: white;
}

.dropdown1 {
    float: right;
    position: relative;
    bottom: 47px;
    border: none;
    height:40px;
}
 
.dropdown1 .dropbtn1 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    height: 80%;
    margin: 0;
    
}
.dropbtn1 img{
    width: 10px;
    height: auto;
}  
.dropdown1:hover .dropbtn1 {
    background-color: white;
}
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 80px;
  }
  
  .dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content1 a:hover {
    background-color: #ddd;
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }