html,body{
    margin: 0;
    padding:0;
    height: 100%;
}
body{
    background-image: url('../wp1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.check:checked ~ .edit  {
    display: block!important;
}
.none{
    display: none;
}
.block{
    display: block;
}
.pointer{
    cursor:pointer
}
.conten{
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 70px;
    padding: 10px;
    color: white;
}
.gambarcontencss{
    text-align: center;
}
.gambarconten{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.komen{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 57.3%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.editkomen{
    color: white;
}
.editkomen a{
    color: white;
    text-decoration: none;
}
.isikomen{
    color:white;
    background-color: rgb(88, 88, 88);
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
}
input[type=text]{
    width: 30%;
    margin-top: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
input[type=submit]{
    border: none;
    background-color: rgb(88, 88, 88);
    padding: 5px;
    font-size: 15px;
    width: 100px;
    border-radius: 4px;
}
input[type=submit]:hover{
    background-color: white;
}

.editkomen{
    float: right;
}